<footer class="footer page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <a id="sidebarCollapse" class="navbar-brand mt-4" href="https://gapp.deepomics.org/" style="color: #fff">
                        <%
=begin%>
                        <img alt="DOAP" class="mr-2 float-left" src="/favicon-w.png">
                        <%
=end%>
                        <span class="font-weight-bold">Gene-App</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <h4>Support</h4>
                <ul>
                    <li><a href='/docs'>Tutorial</a></li>
                    <li><a href='/contact'>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <a href="http://www.cityu.edu.hk/" title="Project sponsored by City University of Hong Kong" target="_blank" class="">
                    <%= image_tag 'cityu_footer.png', alt: "City University of Hong Kong | Logo", class: "float-right", style: "margin-top: 30px;" %>
                </a>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-lg-9 copyright">
                <%= Date.today.year %> © City University of Hong Kong. All rights reserved.
                <a href="#">Terms and conditions</a>
            </div>
        </div>
    </div>
</footer>