<% content_for:head do%>

<style>
#sidebar {
  position: fixed;
  top: 3.25rem;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 1.5rem 1rem;
  background: hsl(215, 8%, 29%);
}
#charts {
  padding-top: 3.25rem
  margin-left: 240px
}

.container {
    display: flex
    flex-wrap: wrap
    padding: 0.5rem 0
}

  .card {
    margin: 4px
    width: 240px
    flex: 1 0 auto
    padding-bottom: 3rem
  }
    .card-footer {
      position: absolute
      left: 0
      right: 0
      bottom: 0
    }
  .dummy {
    margin: 4px
    width: 240px
    flex: 1 0 auto
    height: 0
    border: none
  }
</style>

<script>

$(document).ready(function() {
    console.log('Loaded.');
    let ss = document.querySelector(".sidebar-container").querySelector("button");
    var evt = document.createEvent("MouseEvents"); 
    evt.initEvent("click", false, false);
    ss.dispatchEvent(evt);
});

</script>


<%end%>

<div>

    <div id="main-content">
      <div id="sidebar"><sidebar :id="id" /></div>
      <div id="charts">
        <div class="container">
          <div class="card" v-for="chart in charts" :key="chart.id">
            <header class="card-header">
              <p class="card-header-title">
                {{chart.name}}
              </p>
            </header>
            <div class="card-image">
              <div class="img-container">
                <img :src="chart.preview || placeholderURL" alt="Placeholder image">
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                {{chart.description || "No Description."}}
              </div>
            </div>
            <footer class="card-footer">
              <router-link :to="`/charts/${chart.id}`" class="card-footer-item">
                <b-icon icon="play" style="margin-right:0.25rem" />
                Try
              </router-link>
              <!-- <a href="#" class="card-footer-item">
                <b-icon icon="share" style="margin-right:0.25rem" />
                Share
              </a> -->
            </footer>
          </div>
          <div class="dummy"></div>
          <div class="dummy"></div>
          <div class="dummy"></div>
          <div class="dummy"></div>
          <div class="dummy"></div>
          <div class="dummy"></div>
          <div class="dummy"></div>
        </div>
      </div>
    </div>
  </div>