
  <div class="container" onload="init()">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'App', '/admin/apps' %>
      </li> 
      
    </ol>

    <h1>
    App
    </h1>
  
    <p>
        This page is made for admin to :
        <ul>
          <li>Check out all apps in the system</li>
          <li>Edit app details</li>
        </ul>
    </p>
  
    <hr>